<main>
  <div class="loader set-not-visible">
    <div class="circle"></div>
  </div>
  <div class="container">
    <h2>To DO Partial</h2>
    <br />
    <button type="button" sign-up-g>Sign UP with GOOGLE!!</button>
    <button type="button" get-tasks>get Tasks</button>
    <div class="" id="cardInfo">
      <label for="" id="email-in"></label>
    </div>
    <button class="" id="log-out-btn">Log Out</button>
    <br />
    <section class="todo">
      <form id="task-creator">
        <input
          type="text"
          name="task"
          id="task"
          placeholder="Feed the tiger bird..."
        />
        <button type="button" id="submit-btn" submit-task>Submit</button>
      </form>
      <ul class="task-list"></ul>
    </section>
  </div>
</main>
